<div id="container" [class.readOnly]="readonly">
  <fa-icon
    [class.rated]="rating >= 10"
    [icon]="faStar"
  ></fa-icon>
  <fa-icon
    [class.rated]="rating >= 9"
    [icon]="faStar"
  ></fa-icon>
  <fa-icon
    [class.rated]="rating >= 8"
    [icon]="faStar"
  ></fa-icon>
  <fa-icon
    [class.rated]="rating >= 7"
    [icon]="faStar"
  ></fa-icon>
  <fa-icon
    [class.rated]="rating >= 6"
    [icon]="faStar"
  ></fa-icon>
  <fa-icon
    [class.rated]="rating >= 5"
    [icon]="faStar"
  ></fa-icon>
  <fa-icon
    [class.rated]="rating >= 4"
    [icon]="faStar"
  ></fa-icon>

  <fa-icon
    [class.rated]="rating >= 3"
    [icon]="faStar"
  ></fa-icon>

  <fa-icon
    [class.rated]="rating >= 2"
    [icon]="faStar"
  ></fa-icon>

  <fa-icon
    [class.rated]="rating >= 1"
    [icon]="faStar"
  ></fa-icon>
</div>
