<main class="main container-app">
  <app-nav-bar></app-nav-bar>

  <app-search-form (search)="searchMovies()" (reset)="resetSearch()" (searchQueryChange)="handleSearchQueryChange($event)"></app-search-form>

  <section *ngIf="!isMovieDetailsEmpty() && !loadingMovie" class="container content-description pt-5">
    <div class="d-flex flex-column">
      <h1>{{ movieDetails.Title }}</h1>
      <p>
        {{ movieDetails.Plot }}
      </p>
      <span><strong>Actor</strong> {{ movieDetails.Actors }}</span>
        <div class="content-review">
          <span>Review</span>
          <app-star-rating [rating]="convertImdbRatingToRoundnumber(movieDetails.imdbRating)"></app-star-rating>
        </div>

        <div>
          <button class="btn btn-primary" type="button">
            Favorite
            <fa-icon [icon]="faHeart"></fa-icon>
          </button>
        </div>
    </div>
    <div class="card card-movie">
      <img
        [src]="movieDetails.Poster !== 'N/A' ? movieDetails.Poster : defaultImageMovie"
        class="card-img-top"
        alt="Movie Poster"
      />
    </div>
  </section>

  <app-skeleton-movie *ngIf="loadingMovie" />

  <app-empty-state
    *ngIf="isMovieDetailsEmpty() && !loadingMovie"
    [imageEmpty]="movieImage"
    title="Search for your film"
    description="Search for the name of your film in the search field above and get information about it."
  />

  <app-empty-state
    *ngIf="!loadingMovie && errorFetchMovie"
    [imageEmpty]="noResultsImage"
    title="Ops! Something is wrong"
    description="Try search the movie again"
  />
</main>

<router-outlet />
